{%- extends "base.html" -%}
{%- block content -%}
<h1 class="author-title">Про автора</h1>
<div class="author"> 
    <img src="/static/images/photo_2026-03-26_18-16-24.jpg" alt="Фото автора" >
    <div class="opis">
    <p>Ім'я автора: Олексій</p>
    <p>Псевдонім: Batariss</p>
    <p>Біографія:<br>
    Народився в Одесі, різніше переїхав в Краків і зараз живе і навчається в Кракові. Вчиться пайтону і ця сторінка його фінальний проєкт    </p>
    </div>
    <footer>
    <p>Контактна інформація: <br>
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">lexadsp@gmail.com &emsp;</a>
    <a href="https://t.me/Batariss">Telegram</a>
    </footer>
</div>
{%- endblock -%}